{{! js_inject_point_text_ab !}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Global Prom - Грузоподъемное и промышленное оборудование</title>
</head>
<body id='body' class="{{! js_inject_point_text_utm !}}">

<header class="header">
    <div class="main-header">
        <div class="container main-header__container">
            <div class="logo-wrapper col-sm-3">
                <img class="header-logo" src="../../images/logo.jpg" alt="">
            </div>
            <div class="search-wrapper col-sm-4">
                <form class="main-search">
                    <div class="search-inner">
                        <input class="search-field" type="text" name="search" placeholder="Поиск по сайту">
                        <button class="search-field-btn">поиск</button>
                    </div>
                </form>
            </div>
            <div class="phones-wrapper col-sm-3">
                <nav class="header-tabs">
                    <ul class="header-tabs__list">
                        <li class="header-tabs__item active">Украина</li>
                        <li class="header-tabs__item">Грузия</li>
                    </ul>
                    <div class="header-tabs__content active">
                        <ul class="header-phones__list">
                            <li class="header-phone">
                                <a class="header-phone__link" href="tel:+380577517059">+38 (057) 751-70-59</a>
                            </li>
                            <li class="header-phone">
                                <a class="header-phone__link" href="tel:+380506972161">+38 (050) 697-21-61</a>
                            </li>
                            <li class="header-phone">
                                <a class="header-phone__link" href="tel:+380973229908">+38 (097) 322-99-08</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-tabs__content">
                        <ul class="header-phones__list">
                            <li class="header-phone">
                                <a class="header-phone__link" href="tel:+380577517059">+99 (557) 751-70-59</a>
                            </li>
                            <li class="header-phone">
                                <a class="header-phone__link" href="tel:+380506972161">+99 (550) 697-21-61</a>
                            </li>
                            <li class="header-phone">
                                <a class="header-phone__link" href="tel:+380973229908">+99 (597) 322-99-08</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="login-wrapper col-sm-2">
                <div class="login-inner">
                    <span class="login-btn"></span>
                    <span class="cart-wrapper active">
                        <i>1</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-menu">
        <div class="container">
            <div class="main-menu__wrapper">
                <ul class="main-menu__list">
                    <li class="main-menu__item main-menu__btn">
                        <i class="main-menu__btn-icon"><span></span></i>
                        <span>Каталог</span>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="">О компании</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="">Оплата и доставка</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="">Гарантии</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="">Отзывы</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="">Статьи</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="">Отгрузки</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="">Контакты</a>
                    </li>
                </ul>
                <span class="menu-separate-line"></span>
                <div class="catalog-btn">
                    <i class="catalog-icon"></i>
                    <span class="catalog-txt">Скачать прайс</span>
                </div>
            </div>
        </div>
        <div class="secondary-menu">
            <div class="container">
                <div class="secondary-menu__inner">
                    <ul class="secondary-menu__list">
                        <li class="secondary-menu__item active">
                            <i class="secondary-menu__icon smi1"></i>
                            <a href="" class="secondary-menu__link">Грузоподъемное <br>оборудование</a>
                        </li>
                        <li class="secondary-menu__item">
                            <i class="secondary-menu__icon smi2"></i>
                            <a href="" class="secondary-menu__link">Промышленное <br>оборудование</a>
                        </li>
                        <li class="secondary-menu__item">
                            <i class="secondary-menu__icon smi3"></i>
                            <a href="" class="secondary-menu__link">Весовое <br>оборудование</a>
                        </li>
                        <li class="secondary-menu__item">
                            <i class="secondary-menu__icon smi4"></i>
                            <a href="" class="secondary-menu__link">Насосное <br>оборудование</a>
                        </li>
                    </ul>
                    <div class="secondary-menu__content active">
                        <div class="secondary-menu__content-left">
                            <ul class="secondary-menu__content-list">
                                <span class="secondary-menu__content-title">
                                    <a href="">Редукторы, мотор-редукторы, <br>электродвигатели</a>
                                </span>
                                <li class="secondary-menu__content-item">
                                    <a href="">Редукторы</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Мотор-редукторы</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Электродвигатели промышленные</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Запчасти и смазки для редукторов и мотор-редукторов</a>
                                </li>
                            </ul>
                            <ul class="secondary-menu__content-list">
                                <span class="secondary-menu__content-title">
                                    <a href="">Вентиляторы промышленные</a>
                                </span>
                                <li class="secondary-menu__content-item">
                                    <a href="">Вентиляторы высокого давления</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Вентиляторы низкого давления</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Вентиляторы среднего давления</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Вентиляторы пылевые</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Вентиляторы крышные (для крыш)</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Вентиляторы местного проветривания ВОЭ</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Вентиляторы осевые</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Дымососы (вентиляторы дутьевые)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="secondary-menu__content-right">
                            <ul class="secondary-menu__content-list">
                                <span class="secondary-menu__content-title">
                                    <a href="">Домкраты гидравлические промышленные, <br>домкраты механические реечные</a>
                                </span>
                                <li class="secondary-menu__content-item">
                                    <a href="">Домкраты механические реечно-зубчатые</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Домкраты гидравлические бутылочные, автомобильные (от 15 до 50 тонн)</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Домкраты грузовые промышленные общего назначения (от 5 до 500 тонн)</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Домкраты монтажные низкие (от 5 до 200 тонн)</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Домкраты с полым штоком для распрессовки и запрессовки (от 15 до 200 тонн)</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосные станции с ручным и электроприводом</a>
                                </li>
                            </ul>
                            <ul class="secondary-menu__content-list">
                                <span class="secondary-menu__content-title">
                                    <a href="">Насосы промышленные</a>
                                </span>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для водного хозяйства и ЖКХ</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для пищевой промышленности</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для нефтегазовой отрасли</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для химической промышленности</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для атомной энергетики (для АЭС)</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для теплоэнергетики</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для пожаротушения</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для судостроения</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для судостроения</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для металлургии и горнодобывающей промышленности</a>
                                </li>
                            </ul>
                            <ul class="secondary-menu__content-list last">
                                <span class="secondary-menu__content-title">
                                    <a href="">Автоматика для насосов (станции управления, шкафы)</a>
                                </span>
                            </ul>
                        </div>
                    </div>
                    <div class="secondary-menu__content">
                        2
                    </div>
                    <div class="secondary-menu__content">
                        3
                    </div>
                    <div class="secondary-menu__content">
                        4
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="mobile-menu">
        <div class="container">            
            <i class="mobile-menu__btn-icon"><span></span></i>
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <span class="mobile-menu__cat-btn">Каталог<i></i></span>
                    <ul class="mobile-submenu__list">
                        <li class="mobile-submenu__item">
                            <span class="mobile-submenu__item__wrapper"><a href="" class="mobile-submenu__link">Грузоподъемное оборудование</a><i></i></span>
                            <div class="mobile-submenu__secondary">
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Редукторы, мотор-редукторы, <br>электродвигатели</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Редукторы</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Мотор-редукторы</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Электродвигатели промышленные</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Запчасти и смазки для редукторов и мотор-редукторов</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Вентиляторы промышленные</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы высокого давления</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы низкого давления</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы среднего давления</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы пылевые</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы крышные (для крыш)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы местного проветривания ВОЭ</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы осевые</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Дымососы (вентиляторы дутьевые)</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Домкраты гидравлические промышленные, <br>домкраты механические реечные</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты механические реечно-зубчатые</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты гидравлические бутылочные, автомобильные (от 15 до 50 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты грузовые промышленные общего назначения (от 5 до 500 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты монтажные низкие (от 5 до 200 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты с полым штоком для распрессовки и запрессовки (от 15 до 200 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосные станции с ручным и электроприводом</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Насосы промышленные</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для водного хозяйства и ЖКХ</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для пищевой промышленности</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для нефтегазовой отрасли</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для химической промышленности</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для атомной энергетики (для АЭС)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для теплоэнергетики</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для пожаротушения</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для судостроения</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для судостроения</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для металлургии и горнодобывающей промышленности</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Автоматика для насосов (станции управления, шкафы)</a>
                                    </span>
                                </ul>
                            </div>
                        </li>
                        <li class="mobile-submenu__item">
                            <span class="mobile-submenu__item__wrapper"><a href="" class="mobile-submenu__link">Промышленное оборудование</a><i></i></span>
                            <div class="mobile-submenu__secondary">
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Редукторы, мотор-редукторы, электродвигатели</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Редукторы</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Мотор-редукторы</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Электродвигатели промышленные</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Запчасти и смазки для редукторов и мотор-редукторов</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Вентиляторы промышленные</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы высокого давления</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы низкого давления</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы среднего давления</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы пылевые</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы крышные (для крыш)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы местного проветривания ВОЭ</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы осевые</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Дымососы (вентиляторы дутьевые)</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Домкраты гидравлические промышленные, <br>домкраты механические реечные</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты механические реечно-зубчатые</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты гидравлические бутылочные, автомобильные (от 15 до 50 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты грузовые промышленные общего назначения (от 5 до 500 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты монтажные низкие (от 5 до 200 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты с полым штоком для распрессовки и запрессовки (от 15 до 200 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосные станции с ручным и электроприводом</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Насосы промышленные</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для водного хозяйства и ЖКХ</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для пищевой промышленности</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для нефтегазовой отрасли</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для химической промышленности</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для атомной энергетики (для АЭС)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для теплоэнергетики</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для пожаротушения</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для судостроения</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для судостроения</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для металлургии и горнодобывающей промышленности</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Автоматика для насосов (станции управления, шкафы)</a>
                                    </span>
                                </ul>
                            </div>
                        </li>
                        <li class="mobile-submenu__item">
                            <span class="mobile-submenu__item__wrapper"><a href="" class="mobile-submenu__link">Весовое оборудование</a><i></i></span>
                        </li>
                        <li class="mobile-submenu__item">
                            <span class="mobile-submenu__item__wrapper"><a href="" class="mobile-submenu__link">Насосное оборудование</a><i></i></span>
                        </li>
                    </ul>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="">О компании</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="">Оплата и доставка</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="">Гарантии</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="">Отзывы</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="">Статьи</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="">Отгрузки</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="">Контакты</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<nav class="breadrumbs">
    <div class="container">
        <ul class="breadrumbs-list">
            <li class="breadrumbs-item">
                <a href="">Главная</a><i>→</i>
            </li>
            <li class="breadrumbs-item">
                Оплата и доставка
            </li>
        </ul>
    </div>
</nav>
<main class="main-wrapper">
    <div class="inner-page__wrapper">
        <div class="container">
            <div class="col-xs-12"><span class="inner-page__title">Оплата и доставка</span></div>
        </div>
    </div>
    <section class="payment-wrapper">
        <div class="container">
            <div class="col-xs-12 payment-descr">
                Наша компания «GlobalProm» готова предложить вам абсолютно любой вариант оплаты и доставки товара. Чтобы заказать выбранный вами товар и рассчитать стоимость его пересылки, свяжитесь с нами по указанным на сайте телефонам или через форму обратной связи в разделе «контакты». Наши менеджеры не только проконсультируют вас по всем интересующим вопросам, но и помогут подобрать наиболее быстрый способ перемещения товара в ваш регион.
            </div>
            <span class="col-xs-12 inner-page__subtitle">Самый удобный вариант оплаты!</span>
            <p class="col-xs-12 inner-page__txt">Мы всегда готовы пойти вам на встречу и потому, предлагаем вам определить любой приемлемый для вас вариант оплаты товара. На сегодняшний день вы можете оплатить выбранный вами товар через:</p>
            <div class="payment-types">
                <div class="col-md-3 col-sm-6 payment-types__item">
                    <div class="payment-types__pic-wrapper">
                        <img src="../../images/delivery/p1.png" alt="">
                    </div>
                    <div class="payment-types__txt-wrapper">
                        <strong class="payment-types__title">Наличный или безналичный расчет по выставленному счету.</strong>
                        <span class="payment-types__txt"></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 payment-types__item">
                    <div class="payment-types__pic-wrapper">
                        <img src="../../images/delivery/p2.png" alt="">
                    </div>
                    <div class="payment-types__txt-wrapper">
                        <strong class="payment-types__title">Наложенным платежом</strong>
                        <span class="payment-types__txt">(оплата товара на почте при получении).</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 payment-types__item">
                    <div class="payment-types__pic-wrapper">
                        <img src="../../images/delivery/p3.png" alt="">
                    </div>
                    <div class="payment-types__txt-wrapper">
                        <strong class="payment-types__title">Мультивалютный счет</strong>
                        <span class="payment-types__txt">(для иностранных заказчиков).</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 payment-types__item">
                    <div class="payment-types__pic-wrapper">
                        <img src="../../images/delivery/p4.png" alt="">
                    </div>
                    <div class="payment-types__txt-wrapper">
                        <strong class="payment-types__title">Доставка с запретом на отгрузку</strong>
                        <span class="payment-types__txt">(оплата счета после согласования заявленных технических характеристик товара на складе перевозчика).</span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p class="col-xs-12 inner-page__txt">С товарами, которые есть у нас в наличие на складе мы работаем по 100% предоплате. При заказе товара по индивидуальным характеристикам потребуется 50% предоплата для начала работы и 50% доплата по факту готовности.</p>
        </div>        
    </section>
    <section class="delivery-wrapper">
        <div class="container">
            <span class="col-xs-12 inner-page__subtitle">Доставим ваш товар максимально быстро в любую точку Украины!</span>
            <p class="col-xs-12 inner-page__txt">Доставка в регионы Украины осуществляется любой выбранной вами курьерской службой и по указанному вами адресу на условиях 100% предоплаты заказа банковским переводом (после получения оплаты мы в тот же день отгружаем товар) или при получении заказа в отделении курьерской службы (наложенный платеж).</p>
            <span class="payment-types__main-title">Способы доставки товара:</span>
            <div class="delivery-types">
                <div class="col-md-4 col-sm-6 delivery-types__item">
                    <div class="delivery-types__pic-wrapper">
                        <img src="../../images/delivery/d1.png" alt="">
                    </div>
                    <div class="delivery-types__txt-wrapper">
                        <strong class="delivery-types__title">Доставка почтовыми службами</strong>
                        <span class="delivery-types__txt">«Новая почта», «Автопочта», «DHL», «АСД-Экспресс», «УКР Почта» и др.</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 delivery-types__item">
                    <div class="delivery-types__pic-wrapper">
                        <img src="../../images/delivery/d2.png" alt="">
                    </div>
                    <div class="delivery-types__txt-wrapper">
                        <strong class="delivery-types__title">Перевоз товара транспортными компаниями</strong>
                        <span class="delivery-types__txt">«Ин-Тайм», «Деливери», «Ночной Экспресс», «Гюнсел», «Автолюкс» и др.</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 delivery-types__item">
                    <div class="delivery-types__pic-wrapper">
                        <img src="../../images/delivery/d3.png" alt="">
                    </div>
                    <div class="delivery-types__txt-wrapper">
                        <strong class="delivery-types__title">Доставка товара авиаперевозчиком </strong>
                        <span class="delivery-types__txt">«Авиа-Экспресс», «Кий Авиа Карго» и др.</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 delivery-types__item">
                    <div class="delivery-types__pic-wrapper">
                        <img src="../../images/delivery/d4.png" alt="">
                    </div>
                    <div class="delivery-types__txt-wrapper">
                        <strong class="delivery-types__title">Курьерская доставка по Харькову.</strong>
                        <span class="delivery-types__txt"></span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 delivery-types__item">
                    <div class="delivery-types__pic-wrapper">
                        <img src="../../images/delivery/d5.png" alt="">
                    </div>
                    <div class="delivery-types__txt-wrapper">
                        <strong class="delivery-types__title">Самовывоз со склада</strong>
                        <span class="delivery-types__txt">(только для жителей г. Харькова и близлежащих населенных пунктов).</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 delivery-types__item">
                    <div class="delivery-types__pic-wrapper">
                        <img src="../../images/delivery/d6.png" alt="">
                    </div>
                    <div class="delivery-types__txt-wrapper">
                        <strong class="delivery-types__title">Любым другим удобным <br>для Вас способом.</strong>
                        <span class="delivery-types__txt"></span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="delivery-slider__wrapper">
                <div class="delivery-slider">
                    <div class="delivery-slide__wrapper">
                        <div class="delivery-slide">
                            <img src="../../images/logos/np.jpg" alt="">
                        </div>
                    </div>
                    <div class="delivery-slide__wrapper">
                        <div class="delivery-slide">
                            <img src="../../images/logos/up.jpg" alt="">
                        </div>
                    </div>
                    <div class="delivery-slide__wrapper">
                        <div class="delivery-slide">
                            <img src="../../images/logos/al.jpg" alt="">
                        </div>
                    </div>
                    <div class="delivery-slide__wrapper">
                        <div class="delivery-slide">
                            <img src="../../images/logos/dhl.jpg" alt="">
                        </div>
                    </div>
                    <div class="delivery-slide__wrapper">
                        <div class="delivery-slide">
                            <img src="../../images/logos/gg.jpg" alt="">
                        </div>
                    </div>
                    <div class="delivery-slide__wrapper">
                        <div class="delivery-slide">
                            <img src="../../images/logos/it.jpg" alt="">
                        </div>
                    </div>
                    <div class="delivery-slide__wrapper">
                        <div class="delivery-slide">
                            <img src="../../images/logos/np.jpg" alt="">
                        </div>
                    </div>
                    <div class="delivery-slide__wrapper">
                        <div class="delivery-slide">
                            <img src="../../images/logos/up.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>
    <section class="delivery-bot-wrapper">
        <div class="container">
            <p class="col-xs-12 inner-page__txt">Доставка необходимого вам товара может осуществляться как по всей территории Украины, так и за ее пределами.</p>
            <p class="col-xs-12 inner-page__txt">Доставка товара осуществляется в течение 1-2 рабочих дней. Как правило, наши клиенты получают свой заказ уже на следующий рабочий день после отправки. Информацию о поступлении денежных средств и статусе выполнения заказа Вы сможете оперативно получать у нашего менеджера.</p>
            <p class="col-xs-12 inner-page__txt">Доставка товара оплачивается покупателем в полном размере, однако в некоторых случаях мы готовы частично взять расходы на себя. Стоимость доставки товара так же может быть включена в общий счет.</p>
            <span class="col-xs-12 inner-page__footnote"><span class="reuired-star">*</span> Внимание! Компания "GlobalPorm" при определенных условиях оставляет за собой право взымания предопалаты за доставку товара наложенным платежом.</span>
            <span class="col-xs-12 inner-page__footnote"><span class="reuired-star">**</span> Доставка товара в приближенную (серую) зону АТО осуществляется по 100% предоплате, грузоперевозчиками "Новая Почта" или "Деливери". Прямые поставки а зону АТО не осуществляем.</span>
            <div class="delivery-bot-wrapper__center">
                <span class="col-xs-12 inner-page__subtitle">Осуществим доставку товара в страны СНГ и Европы за 14 дней!</span>
                <p class="col-xs-12 inner-page__txt">Доставка товара за пределы Украины осуществляется со склада главного офиса (г. Харьков) или со склада официального представительства нашей компании в Грузии (г. Тбилиси). Для иностранных заказчиков мы готовы предложить:</p>
                <div class="delivery-list__wrapper">
                    <ul class="inner-page__list">
                        <li class="inner-page__list-item">
                            <i class="inner-page__list-dot"></i>
                            <span class="inner-page__list-txt">три мультивалютных счета для возможности оплаты заказа в рублях, долларах или евро;</span>
                        </li>
                        <li class="inner-page__list-item">
                            <i class="inner-page__list-dot"></i>
                            <span class="inner-page__list-txt">таможенное оформление вашего заказа на территории Украины;</span>
                        </li>
                        <li class="inner-page__list-item">
                            <i class="inner-page__list-dot"></i>
                            <span class="inner-page__list-txt">доставку товара по указанному вами адресу в период от 7 до 30 дней с момента получения оплаты.</span>
                        </li>
                    </ul>
                </div>
                <p class="col-xs-12 inner-page__txt">Доставка товара и его таможенное оформление на стороне получателя осуществляется за счет заказчика, кроме Грузии (г. Тбилиси).</p>
            </div>
        </div>
    </section>
</main>
<footer class="main-footer">
    <div class="subscribe-footer">
        <div class="container">
            <div class="col-md-5 subscribe-txt__wrapper">
                <span class="subscribe-title">Только для подписчиков:</span>
                <span class="subscribe-txt">Горячие акции, закрытые распродажи и полезные советы</span>
            </div>
            <div class="col-md-7 subscribe-form__wrapper">
                <form action="" class="subscribe-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
                    <div class="subscribe-form__composition">
                        <input class="subscribe-form__input" type="text" name="email" data-validate-required="Обязательное поле" placeholder="Ваш E-mail">
                        <button class="subscribe-form__btn">Подписаться</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
    <div class="links-footer">
        <div class="container">
            <div class="links-footer__wrapper">
                <ul class="footer-menu list1">
                    <span class="footer-menu__title">О компании</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">О компании</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Новости компании</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Наши клиенты</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Отзывы и рекомендаци</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line"></span>
                <ul class="footer-menu list2">
                    <span class="footer-menu__title">Сотрудничество</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Поставщики и Партнеры</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Дилерская сеть</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Поиск поставщиков</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line mid"></span>
                <ul class="footer-menu list3">
                    <span class="footer-menu__title">Важно</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Полезные статьи</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Дополнительные услуги</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Вопросы и ответы (FAQ)</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Горячие вакансии «GlobalProm»</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line"></span>
                <ul class="footer-menu list4">
                    <span class="footer-menu__title">Контакты</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="tel:+38 (057) 751-70-59">+38 (057) 751-70-59</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="tel:+38 (050) 697-21-61">+38 (050) 697-21-61</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="tel:+38 (097) 322-99-08">+38 (097) 322-99-08</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line last"></span>
                <div class="footer-socials">
                    <span class="footer-menu__title">Все новости в соц. сетях:</span>
                    <ul class="footer-socials__list">
                        <li class="footer-socials__item">
                            <a class="footer-socials__link fb" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link vk" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link li" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link gp" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link ok" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link in" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link tw" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link yt" href=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-footer">
        <span class="copyright">ООО "НПП "ГлобалПром" © 2013-2018 Политика конфиденциальности</span>
    </div>
</footer>
</body>
</html>