{{! js_inject_point_text_ab !}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parfum House - официальный дистрибьютор разливной парфюмерии</title>
</head>
<body id='body'>
<header class="header">
    <link rel="import" href="../partials/header.html">
</header>
<nav class="breadrumbs">
    <div class="container">
        <ul class="breadrumbs-list">
            <li class="breadrumbs-item">
                <a href="">Главная</a><i>→</i>
            </li>
            <li class="breadrumbs-item">
                Дилерская сеть
            </li>
        </ul>
    </div>
</nav>
<main class="main-wrapper">
    <section class="siteSection">
        <div class="container">
            <h1>Дилерская сеть</h1>
            <div class="subHeader">
                Наша компания является одним из крупнейших поставщиков грузоподъемного, промышленного и горно-шахтного оборудования на территории Украины, Грузии, а также стран СНГ.
            </div>
            <h2>
                Для наших партнеров мы готовы предложить:
            </h2>
            <div class="fordealers-content row">
                <div class="col-md-4 col-sm-6">
                    <img src="../../images/dealers-img.png" alt="">
                </div>
                <div class="col-md-8 col-sm-6">
                    <ul class="fordealersList">
                        <li>Широкий выбор грузоподъемного, промышленного и горно-шахтного оборудования – более 1000 наименований на складе.</li>
                        <li>Конкурентные цены на всю линейку.</li>
                        <li>Дополнительные скидки по специальной программе долгосрочных партнерских отношений.</li>
                        <li>Только сертифицированный товар с наличием всех необходимых документов, подтверждающих высокое качество.</li>
                        <li>Гарантия на весь товар в зависимости от товарного направления от 6 до 36 месяцев. Гарантийное и постгарантийное обслуживание.</li>
                        <li>Помощь опытных специалистов при выборе необходимого товара для вашего клиента.</li>
                        <li>Быструю доставка по всей Украине в течение 2-3 дней и по странам СНГ и Европы в течение 14 дней с отгрузкой товара в день оплаты.</li>
                        <li>Помощь в тендерах.</li>
                        <li>Обучение на начальном этапе.</li>
                        <li>Рекламную и информационную поддержку.</li>
                    </ul>
                </div>
            </div>
        </div>  
        <div class="show-more-clients">
            <div class="show-more-clients__btn-wrapper"><span class="show-more-clients__btn">Хочу стать партнером</span></div>
        </div>
    </section>
    <section class="siteSection siteSection--bordered">
        <div class="container">
            <h2>
                Хотите развивать свой бизнес в партнерстве с «GlobalProm»?
            </h2>
            <div class="subHeader">Просто позвоните нам по одному из указанных номеров телефона:</div>
            <div class="row fordealers-contacts">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="fordealers-contacts-img">
                        <img src="../../images/uk-map.png" alt="">
                        <p>Украина</p>
                    </div>
                    <div class="fordealers-contacts-text">
                        <div class="fordealers-contacts-title">Главный офис:</div>
                        <a href="tel:380577816964">+38 (057) 781-69-64</a>
                        <a href="tel:380961955844">+38 (096) 195-58-44</a>
                        <a href="tel:380997857675">+38 (099) 785-76-75</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="fordealers-contacts-img">
                        <img src="../../images/ge-map.png" alt="">
                        <p>Грузия</p>
                    </div>
                    <div class="fordealers-contacts-text">
                        <div class="fordealers-contacts-title">Официальное представительство:</div>
                        <a href="tel:995593952755">+9 955 939 527 55</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="siteSection">
        <div class="container">
            <div class="fordealers-email">
                <span>Так же вы можете отправить письмо на почтовый адрес:</span>
                <a href="mailto:info@globalprom.com.ua">info@globalprom.com.ua</a>      
                В сотрудничестве с нашей компанией вы всегда будете на шаг впереди!
            </div>
        </div>
    </section>
</main>
<footer class="main-footer">
    <div class="subscribe-footer">
        <div class="container">
            <div class="col-md-5 subscribe-txt__wrapper">
                <span class="subscribe-title">Только для подписчиков:</span>
                <span class="subscribe-txt">Горячие акции, закрытые распродажи и полезные советы</span>
            </div>
            <div class="col-md-7 subscribe-form__wrapper">
                <form action="" class="subscribe-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
                    <div class="subscribe-form__composition">
                        <input class="subscribe-form__input" type="text" name="email" data-validate-required="Обязательное поле" placeholder="Ваш E-mail">
                        <button class="subscribe-form__btn">Подписаться</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
    <div class="links-footer">
        <div class="container">
            <div class="links-footer__wrapper">
                <ul class="footer-menu list1">
                    <span class="footer-menu__title">О компании</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">О компании</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Новости компании</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Наши клиенты</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Отзывы и рекомендаци</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line"></span>
                <ul class="footer-menu list2">
                    <span class="footer-menu__title">Сотрудничество</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Поставщики и Партнеры</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Дилерская сеть</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Поиск поставщиков</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line mid"></span>
                <ul class="footer-menu list3">
                    <span class="footer-menu__title">Важно</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Полезные статьи</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Дополнительные услуги</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Вопросы и ответы (FAQ)</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Горячие вакансии «GlobalProm»</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line"></span>
                <ul class="footer-menu list4">
                    <span class="footer-menu__title">Контакты</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="tel:+38 (057) 751-70-59">+38 (057) 751-70-59</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="tel:+38 (050) 697-21-61">+38 (050) 697-21-61</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="tel:+38 (097) 322-99-08">+38 (097) 322-99-08</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line last"></span>
                <div class="footer-socials">
                    <span class="footer-menu__title">Все новости в соц. сетях:</span>
                    <ul class="footer-socials__list">
                        <li class="footer-socials__item">
                            <a class="footer-socials__link fb" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link vk" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link li" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link gp" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link ok" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link in" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link tw" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link yt" href=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-footer">
        <span class="copyright">ООО "НПП "ГлобалПром" © 2013-2018 Политика конфиденциальности</span>
    </div>
</footer>
</body>
</html>