{{! js_inject_point_text_ab !}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parfum House - официальный дистрибьютор разливной парфюмерии</title>
</head>
<!-- <body id='body' class="{{! js_inject_point_text_utm !}}"> -->
<body id='body'>
<header class="header">
    <link rel="import" href="../partials/header.html">
</header>
<nav class="breadrumbs">
    <div class="container">
        <ul class="breadrumbs-list">
            <li class="breadrumbs-item">
                <a href="">Главная</a><i>→</i>
            </li>
            <li class="breadrumbs-item">
                Гарантии
            </li>
        </ul>
    </div>
</nav>
<main class="main-wrapper">
    <section class="siteSection">
        <div class="container">
            <h1>Гарантии</h1>
            <div class="subHeader">
                Компания «GlobalProm» вот уже 5 лет является одним из крупнейших поставщиков грузоподъемного, промышленного и горно-шахтного оборудования на территории Украины, Грузии, стран СНГ и Европы. За время своей деятельности мы заключили договор на поставку товара с более чем 4000 предприятий. Особое внимание в нашей компании мы уделяем гарантийным обязательствам. Если у вас возникли проблемы с приобретенным товаром, мы всегда готовы пойти навстречу и решить вашу проблему за кротчайшие сроки и с максимальной выгодой для вас!
            </div>
            <h2>
                Решение гарантийных проблем в максимально короткий срок!
            </h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="guaranteePerson clearfix">
                        <div class="guaranteePerson-img">   
                            <div class="guaranteePerson-img-item">
                                <img src="../../images/victor.png" alt="">
                            </div>
                            <span>Виктор</span>
                        </div>
                        <div class="guaranteePerson-text">
                            Мы не только гарантируем высокое качество представленных товаров, но и предоставляем гарантию на весь товар как нового производства, так и складского хранения.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="guaranteeItem">
                        <div class="guaranteeItem-img guaranteeItem-img--official">
                        </div>
                        <div class="guaranteeItem-content">
                            <div class="guaranteeItem-title">
                                Официальная гарантия
                            </div>
                            <div class="guaranteeItem-text">
                                Предоставление официальной гарантии от производителя сроком от 6 до 36 месяцев со дня передачи оборудования покупателю.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="guaranteeItem">
                        <div class="guaranteeItem-img guaranteeItem-img--docs">
                        </div>
                        <div class="guaranteeItem-content">
                            <div class="guaranteeItem-title">
                                Передача документов
                            </div>
                            <div class="guaranteeItem-text">
                                Передача всех необходимых документов, подтверждающих высокое качество товара (сертификат, паспорт).
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="guaranteeItem">
                        <div class="guaranteeItem-img guaranteeItem-img--fix">
                        </div>
                        <div class="guaranteeItem-content">
                            <div class="guaranteeItem-title">
                                Ремонт за наш счет
                            </div>
                            <div class="guaranteeItem-text">
                                Ремонт за счет нашей компании всех узлов и деталей приобретенного товара, неисправность которых возникла в результате производственного дефекта или дефекта материалов, из которых изготовлены такие узлы и детали.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="guaranteeItem">
                        <div class="guaranteeItem-img guaranteeItem-img--change">
                        </div>
                        <div class="guaranteeItem-content">
                            <div class="guaranteeItem-title">
                                Замена дефектного товара
                            </div>
                            <div class="guaranteeItem-text">
                                Замена дефектного товара в 20-дневный срок с момента признания рекламаций (претензий) нашей компанией.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="guaranteeItem guaranteeItem--big">
                        <div class="guaranteeItem-img guaranteeItem-img--nodes">
                        </div>
                        <div class="guaranteeItem-content">
                            <div class="guaranteeItem-title">
                                Замена всех узлов
                            </div>
                            <div class="guaranteeItem-text">
                                Замена всех узлов и деталей приобретенного товара на новые, неисправность которых возникла в результате производственного дефекта или дефекта материалов, из которых изготовлены такие узлы и детали, за исключением:
                            </div>
                            <ol>
                                <li>расходных материалов;</li>
                                <li>деталей изнашиваются естественно в процессе их использования;</li>
                                <li>деталей, выведенных из строя в результате неосторожного обращения или несоблюдения инструкций по эксплуатации оборудования, выданных нашей компанией при покупке товара;</li>
                                <li>порча оборудование результате стихийных и других проблем, которые не имеют прямой связи с его функционированием.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </section>
</main>
<footer class="main-footer">
    <div class="subscribe-footer">
        <div class="container">
            <div class="col-md-5 subscribe-txt__wrapper">
                <span class="subscribe-title">Только для подписчиков:</span>
                <span class="subscribe-txt">Горячие акции, закрытые распродажи и полезные советы</span>
            </div>
            <div class="col-md-7 subscribe-form__wrapper">
                <form action="" class="subscribe-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
                    <div class="subscribe-form__composition">
                        <input class="subscribe-form__input" type="text" name="email" data-validate-required="Обязательное поле" placeholder="Ваш E-mail">
                        <button class="subscribe-form__btn">Подписаться</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
    <div class="links-footer">
        <div class="container">
            <div class="links-footer__wrapper">
                <ul class="footer-menu list1">
                    <span class="footer-menu__title">О компании</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">О компании</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Новости компании</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Наши клиенты</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Отзывы и рекомендаци</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line"></span>
                <ul class="footer-menu list2">
                    <span class="footer-menu__title">Сотрудничество</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Поставщики и Партнеры</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Дилерская сеть</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Поиск поставщиков</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line mid"></span>
                <ul class="footer-menu list3">
                    <span class="footer-menu__title">Важно</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Полезные статьи</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Дополнительные услуги</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Вопросы и ответы (FAQ)</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Горячие вакансии «GlobalProm»</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line"></span>
                <ul class="footer-menu list4">
                    <span class="footer-menu__title">Контакты</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="tel:+38 (057) 751-70-59">+38 (057) 751-70-59</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="tel:+38 (050) 697-21-61">+38 (050) 697-21-61</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="tel:+38 (097) 322-99-08">+38 (097) 322-99-08</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line last"></span>
                <div class="footer-socials">
                    <span class="footer-menu__title">Все новости в соц. сетях:</span>
                    <ul class="footer-socials__list">
                        <li class="footer-socials__item">
                            <a class="footer-socials__link fb" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link vk" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link li" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link gp" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link ok" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link in" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link tw" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link yt" href=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-footer">
        <span class="copyright">ООО "НПП "ГлобалПром" © 2013-2018 Политика конфиденциальности</span>
    </div>
</footer>
</body>
</html>