{{! js_inject_point_text_ab !}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parfum House - официальный дистрибьютор разливной парфюмерии</title>
</head>
<body id='body' class="{{! js_inject_point_text_utm !}}">

<header class="header">
    <div class="main-header">
        <div class="container main-header__container">
            <div class="logo-wrapper col-sm-3">
                <img class="header-logo" src="../../images/logo.jpg" alt="">
            </div>
            <div class="search-wrapper col-sm-4">
                <form class="main-search">
                    <div class="search-inner">
                        <input class="search-field" type="text" name="search" placeholder="Поиск по сайту">
                        <button class="search-field-btn">поиск</button>
                    </div>
                </form>
            </div>
            <div class="phones-wrapper col-sm-3">
                <nav class="header-tabs">
                    <ul class="header-tabs__list">
                        <li class="header-tabs__item active">Украина</li>
                        <li class="header-tabs__item">Грузия</li>
                    </ul>
                    <div class="header-tabs__content active">
                        <ul class="header-phones__list">
                            <li class="header-phone">
                                <a class="header-phone__link" href="tel:+380577517059">+38 (057) 751-70-59</a>
                            </li>
                            <li class="header-phone">
                                <a class="header-phone__link" href="tel:+380506972161">+38 (050) 697-21-61</a>
                            </li>
                            <li class="header-phone">
                                <a class="header-phone__link" href="tel:+380973229908">+38 (097) 322-99-08</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-tabs__content">
                        <ul class="header-phones__list">
                            <li class="header-phone">
                                <a class="header-phone__link" href="tel:+380577517059">+99 (557) 751-70-59</a>
                            </li>
                            <li class="header-phone">
                                <a class="header-phone__link" href="tel:+380506972161">+99 (550) 697-21-61</a>
                            </li>
                            <li class="header-phone">
                                <a class="header-phone__link" href="tel:+380973229908">+99 (597) 322-99-08</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="login-wrapper col-sm-2">
                <div class="login-inner">
                    <span class="login-btn"></span>
                    <span class="cart-wrapper active">
                        <i>1</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-menu">
        <div class="container">
            <div class="main-menu__wrapper">
                <ul class="main-menu__list">
                    <li class="main-menu__item main-menu__btn">
                        <i class="main-menu__btn-icon"><span></span></i>
                        <span>Каталог</span>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="">О компании</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="">Оплата и доставка</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="">Гарантии</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="">Отзывы</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="">Статьи</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="">Отгрузки</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="">Контакты</a>
                    </li>
                </ul>
                <span class="menu-separate-line"></span>
                <div class="catalog-btn">
                    <i class="catalog-icon"></i>
                    <span class="catalog-txt">Скачать прайс</span>
                </div>
            </div>
        </div>
        <div class="secondary-menu">
            <div class="container">
                <div class="secondary-menu__inner">
                    <ul class="secondary-menu__list">
                        <li class="secondary-menu__item active">
                            <i class="secondary-menu__icon smi1"></i>
                            <a href="" class="secondary-menu__link">Грузоподъемное <br>оборудование</a>
                        </li>
                        <li class="secondary-menu__item">
                            <i class="secondary-menu__icon smi2"></i>
                            <a href="" class="secondary-menu__link">Промышленное <br>оборудование</a>
                        </li>
                        <li class="secondary-menu__item">
                            <i class="secondary-menu__icon smi3"></i>
                            <a href="" class="secondary-menu__link">Весовое <br>оборудование</a>
                        </li>
                        <li class="secondary-menu__item">
                            <i class="secondary-menu__icon smi4"></i>
                            <a href="" class="secondary-menu__link">Насосное <br>оборудование</a>
                        </li>
                    </ul>
                    <div class="secondary-menu__content active">
                        <div class="secondary-menu__content-left">
                            <ul class="secondary-menu__content-list">
                                <span class="secondary-menu__content-title">
                                    <a href="">Редукторы, мотор-редукторы, <br>электродвигатели</a>
                                </span>
                                <li class="secondary-menu__content-item">
                                    <a href="">Редукторы</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Мотор-редукторы</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Электродвигатели промышленные</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Запчасти и смазки для редукторов и мотор-редукторов</a>
                                </li>
                            </ul>
                            <ul class="secondary-menu__content-list">
                                <span class="secondary-menu__content-title">
                                    <a href="">Вентиляторы промышленные</a>
                                </span>
                                <li class="secondary-menu__content-item">
                                    <a href="">Вентиляторы высокого давления</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Вентиляторы низкого давления</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Вентиляторы среднего давления</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Вентиляторы пылевые</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Вентиляторы крышные (для крыш)</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Вентиляторы местного проветривания ВОЭ</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Вентиляторы осевые</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Дымососы (вентиляторы дутьевые)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="secondary-menu__content-right">
                            <ul class="secondary-menu__content-list">
                                <span class="secondary-menu__content-title">
                                    <a href="">Домкраты гидравлические промышленные, <br>домкраты механические реечные</a>
                                </span>
                                <li class="secondary-menu__content-item">
                                    <a href="">Домкраты механические реечно-зубчатые</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Домкраты гидравлические бутылочные, автомобильные (от 15 до 50 тонн)</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Домкраты грузовые промышленные общего назначения (от 5 до 500 тонн)</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Домкраты монтажные низкие (от 5 до 200 тонн)</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Домкраты с полым штоком для распрессовки и запрессовки (от 15 до 200 тонн)</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосные станции с ручным и электроприводом</a>
                                </li>
                            </ul>
                            <ul class="secondary-menu__content-list">
                                <span class="secondary-menu__content-title">
                                    <a href="">Насосы промышленные</a>
                                </span>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для водного хозяйства и ЖКХ</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для пищевой промышленности</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для нефтегазовой отрасли</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для химической промышленности</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для атомной энергетики (для АЭС)</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для теплоэнергетики</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для пожаротушения</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для судостроения</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для судостроения</a>
                                </li>
                                <li class="secondary-menu__content-item">
                                    <a href="">Насосы для металлургии и горнодобывающей промышленности</a>
                                </li>
                            </ul>
                            <ul class="secondary-menu__content-list last">
                                <span class="secondary-menu__content-title">
                                    <a href="">Автоматика для насосов (станции управления, шкафы)</a>
                                </span>
                            </ul>
                        </div>
                    </div>
                    <div class="secondary-menu__content">
                        2
                    </div>
                    <div class="secondary-menu__content">
                        3
                    </div>
                    <div class="secondary-menu__content">
                        4
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="mobile-menu">
        <div class="container">            
            <i class="mobile-menu__btn-icon"><span></span></i>
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <span class="mobile-menu__cat-btn">Каталог<i></i></span>
                    <ul class="mobile-submenu__list">
                        <li class="mobile-submenu__item">
                            <span class="mobile-submenu__item__wrapper"><a href="" class="mobile-submenu__link">Грузоподъемное оборудование</a><i></i></span>
                            <div class="mobile-submenu__secondary">
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Редукторы, мотор-редукторы, <br>электродвигатели</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Редукторы</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Мотор-редукторы</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Электродвигатели промышленные</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Запчасти и смазки для редукторов и мотор-редукторов</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Вентиляторы промышленные</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы высокого давления</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы низкого давления</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы среднего давления</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы пылевые</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы крышные (для крыш)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы местного проветривания ВОЭ</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы осевые</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Дымососы (вентиляторы дутьевые)</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Домкраты гидравлические промышленные, <br>домкраты механические реечные</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты механические реечно-зубчатые</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты гидравлические бутылочные, автомобильные (от 15 до 50 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты грузовые промышленные общего назначения (от 5 до 500 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты монтажные низкие (от 5 до 200 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты с полым штоком для распрессовки и запрессовки (от 15 до 200 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосные станции с ручным и электроприводом</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Насосы промышленные</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для водного хозяйства и ЖКХ</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для пищевой промышленности</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для нефтегазовой отрасли</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для химической промышленности</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для атомной энергетики (для АЭС)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для теплоэнергетики</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для пожаротушения</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для судостроения</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для судостроения</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для металлургии и горнодобывающей промышленности</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Автоматика для насосов (станции управления, шкафы)</a>
                                    </span>
                                </ul>
                            </div>
                        </li>
                        <li class="mobile-submenu__item">
                            <span class="mobile-submenu__item__wrapper"><a href="" class="mobile-submenu__link">Промышленное оборудование</a><i></i></span>
                            <div class="mobile-submenu__secondary">
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Редукторы, мотор-редукторы, электродвигатели</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Редукторы</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Мотор-редукторы</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Электродвигатели промышленные</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Запчасти и смазки для редукторов и мотор-редукторов</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Вентиляторы промышленные</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы высокого давления</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы низкого давления</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы среднего давления</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы пылевые</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы крышные (для крыш)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы местного проветривания ВОЭ</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Вентиляторы осевые</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Дымососы (вентиляторы дутьевые)</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Домкраты гидравлические промышленные, <br>домкраты механические реечные</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты механические реечно-зубчатые</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты гидравлические бутылочные, автомобильные (от 15 до 50 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты грузовые промышленные общего назначения (от 5 до 500 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты монтажные низкие (от 5 до 200 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Домкраты с полым штоком для распрессовки и запрессовки (от 15 до 200 тонн)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосные станции с ручным и электроприводом</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Насосы промышленные</a>
                                    </span>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для водного хозяйства и ЖКХ</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для пищевой промышленности</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для нефтегазовой отрасли</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для химической промышленности</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для атомной энергетики (для АЭС)</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для теплоэнергетики</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для пожаротушения</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для судостроения</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для судостроения</a>
                                    </li>
                                    <li class="mobile-submenu__secondary-item">
                                        <a href="">Насосы для металлургии и горнодобывающей промышленности</a>
                                    </li>
                                </ul>
                                <ul class="mobile-submenu__secondary-list">
                                    <span class="mobile-submenu__secondary-title">
                                        <a href="">Автоматика для насосов (станции управления, шкафы)</a>
                                    </span>
                                </ul>
                            </div>
                        </li>
                        <li class="mobile-submenu__item">
                            <span class="mobile-submenu__item__wrapper"><a href="" class="mobile-submenu__link">Весовое оборудование</a><i></i></span>
                        </li>
                        <li class="mobile-submenu__item">
                            <span class="mobile-submenu__item__wrapper"><a href="" class="mobile-submenu__link">Насосное оборудование</a><i></i></span>
                        </li>
                    </ul>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="">О компании</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="">Оплата и доставка</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="">Гарантии</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="">Отзывы</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="">Статьи</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="">Отгрузки</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="">Контакты</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<nav class="breadrumbs">
    <div class="container">
        <ul class="breadrumbs-list">
            <li class="breadrumbs-item">
                <a href="">Главная</a><i>→</i>
            </li>
            <li class="breadrumbs-item">
                Вакансии
            </li>
        </ul>
    </div>
</nav>
<main class="main-wrapper">
    <section class="siteSection siteSection--bordered">
        <div class="container">
            <h1>Горячие вакансии компании ООО "НПП "ГлобалПром"</h1>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="vacancyItem">
                        <h2>Вакансия: Менеджер по продажам (Харьков)</h2>
                        <p>Растем не только мы, но и наш штат сотрудников. В связи с этим мы ищем сразу нескольких кандидатов на должность менеджера по продажам направления грузоподъемного и промышленного оборудования.</p>
                        <h3>Менеджера с какими качествами мы ждем:</h3>
                        <ol>
                            <li>Инициативного кандидата с творческим подходом к работе и желанием развиваться</li>
                            <li>С направленностью на выполнение поставленных планов и задач по продаже промышленной продукции</li>
                            <li>Менеджера с опытом работы в продажах от 1 года</li>
                            <li>Умеющего работать с ПК на уровне пользователя (Excel, Word, Internet, 1С)</li>
                        </ol>
                        <h3>Что мы готовы предложить:</h3>
                        <ol>
                            <li>Высокий уровень заработной платы со средней З/П от 8500 грн. (ставка + процент)</li>
                            <li>Бонусное денежное поощрение при выполнении поставленных планов</li>
                            <li>Официальное трудоустройство согласно КЗоТ</li>
                            <li>Работу в молодом коллективе стабильно развивающейся компании</li>
                            <li>Обеспечение заявками от клиентов</li>
                            <li>Участие в тренингах и семинарах по повышению как личных, так и деловых навыков</li>
                            <li>Перспективы финансового и карьерного роста в динамично развивающейся компании</li>
                        </ol>
                        <h3>Хотите работать у нас?</h3>
                        <p>Давайте проверим, подойдем ли мы друг-другу.</p>
                        <p>Просто отправьте свое резюме на почту: <strong><i><a href="mailto:hr.globalprom@inbox.ru">hr.globalprom@inbox.ru</a></i></strong> или позвоните по одному из номеров телефона:</p>
                        <p>
                            <a href="tel:0577517059">(057) 751-70-59</a>,
                            <br><a href="tel:0973229908">(097) 322-99-08</a>,
                            <br><a href="tel:0506972161">(050) 697-21-61</a>.
                        </p>
                        <div class="vacancyItem-action">
                            <a href="#" class="btn btn-primary">Отправить свое резюме</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="vacancyItem">
                        <h2>Вакансия: Механик (Харьков)</h2>    
                        <p>Разбираетесь в электрооборудовании и знаете, как настроить или провести его ремонт? Тогда мы ждем вас!</p>   
                        <h3>Что вы должны уметь и знать:</h3>
                        <ol start="1">
                            <li>Опыт работы по ремонту и подключению грузоподъемного оборудования (тельфера, лебедки электрические). ЖЕЛАТЕЛЬНО!</li>
                        </ol>
                        <h3>Что мы готовы предложить:</h3>
                        <ol>
                            <li>Конкурентный уровень заработной платы со средней З/П от 5000 грн.</li>
                            <li>Оплату сверхурочных часов работы</li>
                            <li>Официальное трудоустройство согласно КЗоТ</li>
                            <li>Работу в молодом коллективе стабильно развивающейся компании</li>
                        </ol>
                        <h3>Ищите работу?</h3>
                        <p>А мы ищем вас! Давайте проверим, подойдем ли мы друг-другу. Просто отправьте свое резюме на почту: <strong><i><a href="mailto:hr.globalprom@inbox.ru">hr.globalprom@inbox.ru</i></strong> или позвоните по одному из номеров телефона:</p>
                        <p>
                            <a href="tel:0577517059">(057) 751-70-59</a>,
                            <br><a href="tel:0973229908">(097) 322-99-08</a>,
                            <br><a href="tel:0506972161">(050) 697-21-61</a>.
                        </p>
                        <div class="vacancyItem-action">
                            <a href="#" class="btn btn-primary">Отправить свое резюме</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>
    <section class="siteSection">
        <div class="container">
            <h2>Посмотрите как выглядит работа в нашей компании</h2>
            <div class="row">
                <div class="vacancyItem-images">
                    <div class="col-md-10">
                        <div class="popup-slider slick-slider popup-slider-for1"
                             data-slick='{"arrows": true, "asNavFor": ".popup-slider-nav1",  variableWidth: true}'>
                            <img class="" src="../../images/office.png" alt="">
                            <img class="" src="../../images/office1.jpg" alt="">
                            <img class="" src="../../images/office2.png" alt="">
                            <img class="" src="../../images/office3.png" alt="">
                            <img class="" src="../../images/office4.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="popup-nav slick-slider popup-slider-nav1"
                             data-slick='{"vertical": true, "arrows": false, "slidesToShow": 5, "asNavFor": ".popup-slider-for1", "centerMode": false, "focusOnSelect": true, "centerPadding": "0", "infinite": false, "responsive": [ {"breakpoint": 992, "settings": {"vertical": false}} ]}'>
                            <img class="" src="../../images/office.png" alt="">
                            <img class="" src="../../images/office1.jpg" alt="">
                            <img class="" src="../../images/office2.png" alt="">
                            <img class="" src="../../images/office3.png" alt="">
                            <img class="" src="../../images/office4.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </section>
</main>
<footer class="main-footer">
    <div class="subscribe-footer">
        <div class="container">
            <div class="col-md-5 subscribe-txt__wrapper">
                <span class="subscribe-title">Только для подписчиков:</span>
                <span class="subscribe-txt">Горячие акции, закрытые распродажи и полезные советы</span>
            </div>
            <div class="col-md-7 subscribe-form__wrapper">
                <form action="" class="subscribe-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
                    <div class="subscribe-form__composition">
                        <input class="subscribe-form__input" type="text" name="email" data-validate-required="Обязательное поле" placeholder="Ваш E-mail">
                        <button class="subscribe-form__btn">Подписаться</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
    <div class="links-footer">
        <div class="container">
            <div class="links-footer__wrapper">
                <ul class="footer-menu list1">
                    <span class="footer-menu__title">О компании</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">О компании</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Новости компании</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Наши клиенты</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Отзывы и рекомендаци</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line"></span>
                <ul class="footer-menu list2">
                    <span class="footer-menu__title">Сотрудничество</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Поставщики и Партнеры</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Дилерская сеть</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Поиск поставщиков</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line mid"></span>
                <ul class="footer-menu list3">
                    <span class="footer-menu__title">Важно</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Полезные статьи</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Дополнительные услуги</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Вопросы и ответы (FAQ)</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="">Горячие вакансии «GlobalProm»</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line"></span>
                <ul class="footer-menu list4">
                    <span class="footer-menu__title">Контакты</span>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="tel:+38 (057) 751-70-59">+38 (057) 751-70-59</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="tel:+38 (050) 697-21-61">+38 (050) 697-21-61</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="tel:+38 (097) 322-99-08">+38 (097) 322-99-08</a>
                    </li>
                </ul>
                <span class="links-footer__sep-line last"></span>
                <div class="footer-socials">
                    <span class="footer-menu__title">Все новости в соц. сетях:</span>
                    <ul class="footer-socials__list">
                        <li class="footer-socials__item">
                            <a class="footer-socials__link fb" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link vk" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link li" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link gp" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link ok" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link in" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link tw" href=""></a>
                        </li>
                        <li class="footer-socials__item">
                            <a class="footer-socials__link yt" href=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-footer">
        <span class="copyright">ООО "НПП "ГлобалПром" © 2013-2018 Политика конфиденциальности</span>
    </div>
</footer>
</body>
</html>