.guaranteePerson {
	margin-bottom: 60px;
}
.guaranteePerson-img-item {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 10px;
	border: solid 1px $grey;
	@media screen and (max-width: 767px) {
		display: inline-block;
	}
}
.guaranteePerson-img {
	text-align: center;
	font-family: $bold-font;
	font-size: 18px;
	float: left;
	display: inline-block;
	margin-right: 50px;
	@media screen and (max-width: 767px) {
		float: none;
		margin-right: 0;
		display: block;
	}
	span {
		display: block;
	}
}
.guaranteePerson-text {
	padding: 40px 0;
	color: $dark-grey;
	font-size: 14px;
	line-height: 24px;
	@media screen and (max-width: 767px) {
		padding: 15px 0;
	}
}
.guaranteeItem {
	position: relative;
	min-height: 255px;
	background: #f7fafb;
	padding: 30px;
	border: solid 1px #e6e6e6;
	border-radius: 8px;
	margin-bottom: 30px;
	&.guaranteeItem--big {
		min-height: 300px;
	}
}
.guaranteeItem-img {
	background: url("../images/guarantee.png") no-repeat;
	float: right;
	@media screen and (max-width: 1024px) {
		margin-bottom: 20px;
	}
	&.guaranteeItem-img--official {
		width: 100px; 
		height: 100px;
    	background-position: -10px -230px;
	}
	&.guaranteeItem-img--docs {
		width: 102px; 
		height: 79px;
    	background-position: -130px -230px;
	}
	&.guaranteeItem-img--fix {
		width: 62px; 
		height: 100px;
    	background-position: -350px -10px;
	}
	&.guaranteeItem-img--change {
		width: 100px; 
		height: 100px;
    	background-position: -230px -10px;
	}
	&.guaranteeItem-img--nodes {
		width: 200px; 
		height: 200px;
    	background-position: -10px -10px;
	}
}
.guaranteeItem-content {
	position: absolute;
	bottom: 0;
	width: 60%;
	@media screen and (max-width: 1024px) {
		position: relative;
		width: 100%;
	}
	ol {
		position: relative;
		list-style: none;
		margin: 0 0 30px;
		padding: 0;
		li {
			font-size: 12px;
			line-height: 18px;
			padding-left: 10px;
			&:before {
				content: '-';
				position: absolute;
				left: 0;
			}
		}
	}
}
.guaranteeItem-title {
	font-size: 18px;
	font-family: $bold-font;
	margin-bottom: 20px;
}
.guaranteeItem-text {
	font-size: 12px;
	line-height: 18px;
	font-family: $semibold-font;
	margin-bottom: 20px;
}