.section-7{
	padding-top: 55px;
	padding-bottom: 20px;
}

.about-top__wrap{
	display: flex;
	margin-top: 70px;
	padding: 0 15px;
	@include bp(sm){
		flex-direction: column;
	}
	@include bp(xs){
		margin-top: 55px;
		padding: 0;
	}
}

.about-top__pic-wrap{
	width: 380px;
	min-width: 380px;
	border-radius: 10px;
	border: 1px solid $grey;
	overflow: hidden;
	height: auto;
	margin-right: 65px;
	@include bp(md){
		min-width: 280px;
		margin-right: 30px;
	}
	@include bp(sm){
		margin: 0 auto 25px;
	}
	@include bp(xs){
		width: 100%;
		min-width: 100%;
	}
}

.about-top__title{
	font-size: 16px;
	color: #363636;
	font-family: $bold-font;
}

.about-top__txt{
	font-size: 14px;
	line-height: 22px;
	color: #696969;
	margin: 28px 0 0;
	@include bp(md){
		line-height: 18px;
	}
}

.about-bot__wrap{
	display: flex;
	margin-top: 70px;
	padding: 0 15px;
	@include bp(sm){
		margin-top: 30px;
	}
	@include bp(xs){
		padding: 0;
	}
}

.about-bot__pic-wrap{
	width: 325px;
	min-width: 325px;
	border-radius: 10px;
	border: 1px solid $grey;
	overflow: hidden;
	height: auto;
	margin-left: 65px;
	@include bp(md){
		min-width: 210px;
		margin-left: 30px;
	}
	@include bp(sm){
		display: none;
	}
}

.about-bot__title{
	font-size: 16px;
	color: #363636;
	font-family: $bold-font;
}

.about-bot__txt{
	font-size: 14px;
	line-height: 22px;
	margin: 28px 0 0;
	@include bp(md){
		line-height: 18px;
	}
}

.about-bot__list{
	font-size: 12px;
	font-family: $semibold-font;
	margin-top: 25px;
	color: #686868;
}

.about-bot__list-item{
	line-height: 18px;
	padding-left: 18px;
	position: relative;
}

.about-bot__list-marker{
	width: 6px;
	height: 6px;
	border-radius: 100%;
	background-color: $yellow;
	left: 0;
	top: 6px;
	position: absolute;
	display: block;
}