@font-face {
    font-family: 'Andika';
    src: local('Andika'), url('andika.woff2') format('woff2'), url('andika.woff') format('woff'), url('andika.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
